  <div class="container"  id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-5">
                        <div class="div-col5">
                            <h3> Willkommen! </h3>
                                <span class="span">
                                    Willkommen auf der Internetpräsenz des Deutsch-Französischen
                                    Doktorandenkollegs. Das Austausch-programm, organisiert von der
                                    Johannes Gutenberg-Universität Mainz (Deutschland), dem Laboratoire de Physique
                                    Théorique de l’Ecole Normale Supérieure in Paris (Frankreich) und dem Institut de
                                    Physique Théorique der CEA Saclay (Frankreich), bietet Doktoranden der Theoretischen
                                    Hochenergiephysik einen Aufenthalt an einer der Partneruniversitäten / Partner-institute
                                    bis zu drei Monaten.
                                    <br>
                                    <br>
                                    Auf dieser Internetseite finden Sie Informationen rund um den
                                    Austausch, für die Bewerbung, sowie Infos der teilnehmenden Universitäten/Institute.
                            </span>
                        </div>
                </div>
                <div class="col-lg-2">
                    <img src="../../img/Flagge_bunt.png" class="image-joy">
                </div>
                <div class="col-lg-5">
                        <div class="div-col5">
                            <h3> Bienvenue! </h3>
                                <span class="span">
                                    Bienvenue sur la page web du Collège doctoral franco-allemand.
                                    Ce programme d’échange, organisé par l’Université Johannes Gutenberg de Mayence
                                    (Allemagne), le Laboratoire de Physique Théorique de l’Ecole Normale Supérieure à
                                    Paris (France) et de l‘Institut de Physique Théorique du CEA Saclay (France), offre
                                    aux doctorands de la physique théorique à haute énergie un séjour jusqu’à 18 mois en
                                    total pour une période de 4 ans à l’université/l’institut partenaire.
                                    <br>
                                    <br>
                                    Vous trouvez ci-dessous des informations concernant l’échange, la candidature ainsi
                                    que des informations particulières aux universités/instituts participants.
                                </span>
                        </div>
                </div>
            </div>
  </div>
