<div class="header clearfix">
  <nav class="navbar navbar-default menu-style">
    <div class="container">
      <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse" [collapse] = "isCollapsed">
      <ul class="nav navbar-nav">
            <li><a href="../app.component.html" >Willkommen</a></li>
            <li><a href="../pages/pages.component.html" >Infos</a></li>
            <li><a href="kontakt.html" >Kontakt</a></li>
            <li><a href="betreuer.html" >Wissenschaftliche Betreuer</a></li>
            <li><a href="foerderung.html" >Förderung</a></li>
            <li class="dropdown" dropdown> <!-- {1} -->
                <a dropdownToggle role="button" > <!-- {2} -->
                  Teilnehmende Universitäten <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <li><a href="#">JGU Mainz</a></li>
                    <li><a href="#">ENS Paris</a></li>
                    <li><a href="#">CEA Saclay</a></li>
                </ul>
            </li>
      </ul>
      </div>
    </div>
  </nav>
</div>
