<!--The content below is only a placeholder and can be replaced.-->

<div class="container container-back">
  <h3 class="text-muted h3-style" align="center">
    Deutsch-Französisches Doktorandenkolleg <br> Collège doctoral franco-allemand
  </h3>
  <app-menu></app-menu>

  <app-pages></app-pages>

  <app-footer></app-footer>
</div>

