.container-back {
  padding: 15px;
  background: #a6d8e3;
  background-image: url(../img/hintergrund.png);
  background-repeat:no-repeat;
}

.h3-style {
  padding: 10px;
}

.div-col5 {
  display: inline-block;
  text-align: justify;
  margin-right: 10px;
}

.span {
  color: black;
}

